@model TheMoviePlug.Models.Filmes

@{
    ViewData["Title"] = "Details";
}

<style>
    body {
        background-color: rgb(0, 0, 0, 0.80);
    }

    label, dt, h2 {
        color: #ffb727;
    }

    p, td, dd {
        color: azure;
    }

    body {
        background-color: rgb(0, 0, 0, 0.80);
    }

    th {
        color: #ffb727;
        background-color: #111111;
    }

    td {
        color: azure;
        vertical-align: middle;
    }

    table {
        text-align: center;
        background-color: #222222;
        border: 2px solid #ffb727;
    }

    tr:nth-child(even) {
        background-color: #333333;
    }

    hr {
        background-color: white;
    }

    h1 {
        color: whitesmoke;
    }
</style>

<body>

    @{ if (Model.Visibilidade)
        {

            <hr />
            <div style="text-align:center; align-items: center;">
                <h1>@Html.DisplayFor(model => model.Titulo)</h1>
            </div>
            <hr />

            <div style="height: 580px; align-items: center; vertical-align: middle">

                <div>
                    <img src="~/Imagens/@Html.DisplayFor(model => model.Imagem)"
                         style="border: 2px solid white;  float:left"
                         width="380" height="565"
                         alt="Capa do filme @Html.DisplayFor(model => model.Imagem)"
                         title="@Html.DisplayFor(model => model.Imagem)" />
                </div>

                <dl class="row">
                    <dt class="col-sm-2" style="object-fit: fill">
                        @Html.DisplayNameFor(model => model.Categoria)
                    </dt>
                    <dd class="col-sm-10" style="object-fit: fill">
                        @Html.DisplayFor(model => model.Categoria)
                    </dd>
                    <dt class="col-sm-2" style="object-fit: fill">
                        @Html.DisplayNameFor(model => model.Classificacao)
                    </dt>
                    <dd class="col-sm-10" style="object-fit: fill">
                        @Html.DisplayFor(model => model.Classificacao)
                    </dd>
                    <dt class="col-sm-2" style="object-fit: fill">
                        @Html.DisplayNameFor(model => model.Realizador)
                    </dt>
                    <dd class="col-sm-10" style="object-fit: fill">
                        @Html.DisplayFor(model => model.Realizador)
                    </dd>
                    <dt class="col-sm-2" style="object-fit: fill">
                        @Html.DisplayNameFor(model => model.Elenco)
                    </dt>
                    <dd class="col-sm-10" style="object-fit: fill">
                        @Html.DisplayFor(model => model.Elenco)
                    </dd>
                    <dt class="col-sm-2" style="object-fit: fill">
                        @Html.DisplayNameFor(model => model.Sinopse)
                    </dt>
                    <dd class="col-sm-10" style="object-fit: fill; text-align:justify">
                        @Html.DisplayFor(model => model.Sinopse)
                    </dd>

                    @{ if (User.IsInRole("Gestor"))
                        {
                            <dt class="col-sm-2" style="object-fit: fill">
                                @Html.DisplayNameFor(model => model.Visibilidade)
                            </dt>
                            <dd class="col-sm-10" style="object-fit: fill">
                                @Html.DisplayFor(model => model.Visibilidade)
                            </dd>
                        }
                    }

                </dl>
                <br />

                <div style="text-align:center">
                    @{ if (User.IsInRole("Gestor"))
                        {
                            <a class="btn btn-outline-warning" style="width:110px" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
                        }

                    }
                    <a class="btn btn-outline-secondary" asp-action="Index">Voltar à Lista de Filmes</a>

                    @{ if (User.Identity.IsAuthenticated)
                        {
                            if (ViewBag.Favorito == false)
                            {
                                <form asp-action="AddFavorito" style="margin-top:10px">
                                    <input type="hidden" name="filmeId" value="@Model.Id" />
                                    <input type="submit" class="btn btn-outline-success" value="Adicionar aos Favoritos" />
                                </form>
                            }
                            else
                            {
                                <form asp-action="DeleteFavorito" style="margin-top:10px">
                                    <input type="hidden" name="filmeId" value="@Model.Id" />
                                    <input type="submit" class="btn btn-outline-danger" value="Remover dos Favoritos" />
                                </form>
                            }

                        }
                    }

                </div>

            </div>

            <hr />
            <br />

            <!--para aparecer os links dos filmes que foram adicionados, o count aparecee 0-->
            <div style="text-align:center">
                @{ if (User.Identity.IsAuthenticated)
                    {
                        if (Model.ListaDeLinks.Count != 0)
                        {

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="color:#ffb727">
                                            Link ID
                                        </th>
                                        <th style="color:#ffb727">
                                            Link
                                        </th>
                                        @if (User.IsInRole("Gestor"))
                                        {

                                            <th style="color:#ffb727">
                                                Visibilidade
                                            </th>
                                            <th></th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ListaDeLinks)
                                    {
                                        if (User.IsInRole("Gestor") || item.Visivel)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Id)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.URL)
                                                </td>
                                                @if (User.IsInRole("Gestor"))
                                                {
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Visivel)
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-outline-primary" style="width:100px" asp-area="" asp-controller="Links" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                                                        @if (item.Filme.Visibilidade)
                                                        {
                                                            <form asp-action="MudaVisivel" style="margin-top:5px">
                                                                <input type="hidden" name="filmeId" value="@Model.Id" />
                                                                <input type="hidden" name="linkId" value="@Html.DisplayFor(modelItem => item.Id)" />
                                                                <input type="submit" class="btn btn-outline-danger" value="Esconder" />
                                                            </form>
                                                        }
                                                        else
                                                        {
                                                            <form asp-action="MudaVisivel" style="margin-top:5px">
                                                                <input type="hidden" name="filmeId" value="@Model.Id" />
                                                                <input type="hidden" name="linkId" value="@Html.DisplayFor(modelItem => item.Id)" />
                                                                <input type="submit" class="btn btn-outline-success" value="Mostrar" />
                                                            </form>
                                                        }
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <h6 style="color: whitesmoke">Este filme ainda não tem links.</h6>
                        }

                        <br />
                        <hr />
                        <br />

                        <div>
                            <form asp-action="CreateLink">
                                <input type="hidden" name="filmeId" value="@Model.Id" />
                                <span style="color:white">Link a adicionar:</span><br />
                                <input required name="url" style="margin-bottom:10px; width:420px"><br />
                                <input type="submit" value="Adicionar Link" class="btn btn-primary" />
                            </form>
                        </div>
                    }
                    else
                    {
                        <h5 style="color: whitesmoke"> Precisa de autenticar-se para poder adicionar e ter acesso aos links que permitem a visualização do respetivo filme!</h5>
                        <br />
                    }
                }


            </div>

        }
        else
        {
            <div style="text-align:center">
                <h2 style="color:red">Não é possível aceder à página deste Filme!</h2>
                <hr />
                <h4>Este conteúdo não está disponível por escolha dos Gestores desta aplicação Web.</h4>
            </div>
        }
    }


</body>
