@model IEnumerable<TheMoviePlug.Models.Filmes>

@{
    ViewData["Title"] = "Index";
}


<style>

    body {
        background-color: rgb(0, 0, 0, 0.80);
    }

    th {
        color: #ffb727;
        background-color: #111111;
    }

    td {
        color: azure;
        vertical-align: middle;
    }

    table {
        text-align: center;
        background-color: #222222;
        border: 2px solid #ffb727;
    }

    tr:nth-child(even) {
        background-color: #333333;
    }

    hr {
        background-color: white;
    }
</style>


<body>
    <h1>Lista de Filmes</h1>
    <hr />

    @{ if (User.IsInRole("Gestor"))
        {
            <p>
                <a class="btn btn-outline-success" asp-action="Create">Adicionar Filme</a>
            </p>
        }
        else
        {
            <br />
        }
    }


    <table class="table">
        <thead>
            <tr>
                <th>
                    Capa
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Categoria)
                </th>
                <th>
                    Lançamento
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Classificacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sinopse)
                </th>
                @{ if (User.IsInRole("Gestor"))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.Visibilidade)
                        </th>
                    }
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{ foreach (var item in Model)
                {
                    if (User.IsInRole("Gestor") || item.Visibilidade)
                    {
                        <tr>
                            <td>
                                <img src="~/Imagens/@Html.DisplayFor(modelItem => item.Imagem)"
                                     style="border: 2px solid white"
                                     width="120"
                                     alt="Capa do filme @Html.DisplayFor(modelItem => item.Titulo)"
                                     title="@Html.DisplayFor(modelItem => item.Titulo)" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Titulo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Categoria)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Lancamento.Year)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Classificacao)
                            </td>
                            <td style="text-align:justify">
                                @Html.DisplayFor(modelItem => item.Sinopse)
                            </td>
                            @if (User.IsInRole("Gestor"))
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Visibilidade)
                                </td>
                            }

                            <td>
                                <a class="btn btn-outline-primary" style="width:110px" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                                @if (User.IsInRole("Gestor"))
                                {
                                    <a class="btn btn-outline-warning" style="width:110px ; margin-top:10px; margin-bottom:10px" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                                    <a class="btn btn-outline-danger" style="width:110px" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                                }
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</body>