@model IEnumerable<TheMoviePlug.Models.Links>

@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        background-color: rgb(0, 0, 0, 0.80);
    }

    th {
        color: #ffb727;
    }

    td {
        color: azure;
    }
</style>

<body>

    <p>
        <a asp-action="Create">Add new Link</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.URL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Visivel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Utilizador)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Filme)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.URL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Visivel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Utilizador.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Filme.Categoria)
                    </td>
                    <td>
                        <a class="btn btn-outline-primary" style="width:110px" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                        <a class="btn btn-outline-warning" style="width:110px ; padding-top:5px ; padding-bottom:5px" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a class="btn btn-outline-danger" style="width:110px" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
