@model TheMoviePlug.Models.Utilizadores

@{
    ViewData["Title"] = "Details";
}


<style>

    body {
        background-color: rgb(0, 0, 0, 0.80);
    }

    th, dt {
        color: #ffb727;
        background-color: #111111;
    }

    td, dd {
        color: azure;
        vertical-align: middle;
    }

    table {
        text-align: center;
        background-color: #222222;
        border: 2px solid #ffb727;
    }

    tr:nth-child(even) {
        background-color: #333333;
    }

    hr {
        background-color: white;
    }
</style>


<body>
    @{ if (User.IsInRole("Gestor") || Model.Email == User.Identity.Name.ToLower())
        {
            <h1>Perfil do Utilizador</h1>
            <hr />
            <br />

            <div>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Nome)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Telemovel)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Telemovel)
                    </dd>
                    @if (User.IsInRole("Gestor"))
                    {
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Ativo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Ativo)
                        </dd>
                    }
                </dl>
            </div>

            <div>
                @if (Model.Email == User.Identity.Name.ToLower())
                {
                    <a class="btn btn-outline-warning" style="width:110px" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
                }

                <a class="btn btn-outline-secondary" asp-action="Index">Voltar à 'Lista de Utilizadores'</a>
            </div>

            <br />
            <hr />
            <br />

            <div>
                <div style="text-align: center; color: whitesmoke; margin-bottom: 10px">
                    <h3>Lista de Favoritos</h3>
                </div>

                @{if (Model.ListaFavoritos.Count != 0)
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Capa
                                    </th>
                                    <th>
                                        Título
                                    </th>
                                    <th>
                                        Categoria
                                    </th>
                                    <th>
                                        Lançamento
                                    </th>
                                    <th>
                                        Classificação
                                    </th>
                                    <th>
                                        Sinopse
                                    </th>
                                    @if (User.IsInRole("Gestor"))
                                    {
                                        <th>
                                            Visibilidade
                                        </th>
                                    }
                                    @if (Model.Email == User.Identity.Name.ToLower())
                                    {
                                        <th></th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListaFavoritos)
                                {
                                    if (User.IsInRole("Gestor") || item.Filme.Visibilidade)
                                    {
                                        <tr>
                                            <td>
                                                <img src="~/Imagens/@Html.DisplayFor(modelItem => item.Filme.Imagem)"
                                                     style="border: 2px solid white"
                                                     width="120"
                                                     alt="Capa do filme @Html.DisplayFor(modelItem => item.Filme.Titulo)"
                                                     title="@Html.DisplayFor(modelItem => item.Filme.Titulo)" />
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Filme.Titulo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Filme.Categoria)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Filme.Lancamento.Year)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Filme.Classificacao)
                                            </td>
                                            <td style="text-align:justify">
                                                @Html.DisplayFor(modelItem => item.Filme.Sinopse)
                                            </td>
                                            @if (User.IsInRole("Gestor"))
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Filme.Visibilidade)
                                                </td>
                                            }
                                            @if (Model.Email == User.Identity.Name.ToLower())
                                            {
                                                <td>
                                                    <form asp-action="DeleteFavorito" style="margin-top:10px">
                                                        <input type="hidden" name="filmeId" value="@Model.Id" />
                                                        <input type="hidden" name="filmeId" value="@Model.Id" />
                                                        <input type="submit" class="btn btn-outline-danger" value="Remover dos Favoritos" />
                                                    </form>
                                                </td>
                                            }
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <h6 style="text-align: center">Este utilizador ainda não tem favoritos.</h6>
                    }


                }
            </div> }
        else
        {
            <h2 style="text-align: center; color:red">Não é possível aceder a este perfil de Utilizador!</h2>
            <hr />
            <h4 style="text-align:center">Para aceder a um perfil de Utilizador precisa de ser o próprio Utilizador ou ser um Gestor.</h4>
        }
    }
</body>