@model IEnumerable<TheMoviePlug.Models.Utilizadores>

@{
    ViewData["Title"] = "Index";
}


<style>

    body {
        background-color: rgb(0, 0, 0, 0.80);
    }

    th {
        color: #ffb727;
        background-color: #111111;
    }

    td {
        color: azure;
        vertical-align: middle;
    }

    table {
        text-align: center;
        background-color: #222222;
        border: 2px solid #ffb727;
    }

    tr:nth-child(even) {
        background-color: #333333;
    }

    hr {
        background-color: white;
    }
</style>


<body>
    @{ if (User.Identity.IsAuthenticated)
        {
            <h1>Lista de Utilizadores</h1>
            <hr />
            <br />

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Telemovel)
                        </th>
                        @if (User.IsInRole("Gestor"))
                        {
                            <th>
                                @Html.DisplayNameFor(model => model.Ativo)
                            </th>
                        }
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (User.IsInRole("Gestor") || item.Email == User.Identity.Name.ToLower())
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telemovel)
                                </td>
                                @if (User.IsInRole("Gestor"))
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Ativo)
                                    </td>
                                }
                                <td>
                                    <a class="btn btn-outline-primary" style="width:110px; margin-bottom:5px" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>

                                    @if (User.IsInRole("Gestor") && item.Email != User.Identity.Name.ToLower())
                                    {
                                        if (item.Ativo)
                                        {
                                            <form asp-action="MudaAtivo">
                                                <input type="hidden" name="utilizadorId" value="@Html.DisplayFor(modelItem => item.Id)" />
                                                <input type="submit" class="btn btn-outline-danger" value="Bloquear" style="width:110px" />
                                            </form>
                                        }
                                        else
                                        {
                                            <form asp-action="MudaAtivo">
                                                <input type="hidden" name="utilizadorId" value="@Html.DisplayFor(modelItem => item.Id)" />
                                                <input type="submit" class="btn btn-outline-secondary" value="Desbloquear" style="width:110px" />
                                            </form>
                                        }

                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
        else
        {
            <h2 style="text-align: center; color:red">Não é possível aceder à "Lista de Utilizadores" pois é preciso autenticar-se!</h2>
            <hr />
            <h4 style="text-align:center">Para aceder a este conteúdo precisa de registrar-se, ou, se já tiver uma conta, efetue o login.</h4>
        }
    }
</body>
